.area-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        span {
            font-size: 20px;
        }

        button {
            cursor: pointer;
            border: none;
            transition: all 0.2s;
            padding: 5px 10px;
            border-radius: 4px;
            background-color: #f0f0f0;

            &:hover {
                filter: brightness(90%);
            }
        }
    }

    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        flex-flow: wrap;

        li {
            position: relative;
            margin: 0 50px 25px 0;
            text-align: center;
            width: 100%;
            max-width: 170px;

            strong {
                color: #000;
                font-weight: bold;
                font-size: 20px;
            }

            div {
                cursor: pointer;
                border-radius: 8px;
                width: 100%;
                height: 130px;
                margin-top: 10px;
                transition: filter 0.2s;
            }

            div:hover {
                filter: brightness(90%);
            }

            &.Amarelo div {
                background: #FFCC00;
                color: #FFCC00;
            }
    
            &.Azul div {
                background: #007AFF;
                color: #007AFF;
            }

            &.Branco div {
                background: #EFEFF4;
                color: #EFEFF4;
            }
    
            &.Laranja div {
                background: #FF9500;
                color: #FF9500;
            }
    
            &.Verde div {
                background: #4CD964;
                color: #4CD964;
            }
    
            &.Vermelho div {
                background: #FF3B30;
                color: #FF3B30;
            }
    
            &.Vinho div {
                background: #8B0000;
                color: #8B0000;
            }
        }

        @media screen and (max-width: 719px) {
            grid-template-columns: 1fr;
        }
    }
}