.login-container {
    width: 100%;
    height: 250px;
    margin: 0;
    background: transparent linear-gradient(180deg, #FE4E50 0%, #FE6E6E 100%) 0% 0% no-repeat padding-box;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    .ladoDireito {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 50px;

        img {
            height: 110px;
        }

        .loaderDiv {
            position: absolute;
            z-index: 1;
            transform: translateY(50px);
            padding: 130px;
        }

        .loaderDiv + img + form {
            filter: brightness(0.8);
        }

        form {
            padding: 20px;
            width: 100%;
            max-width: 400px;
            background-color: #fff;
            border-radius: 10px;
            text-align: center;
            -webkit-box-shadow: 2px 4px 11px 0px rgba(0,0,0,0.4);
            -moz-box-shadow: 2px 4px 11px 0px rgba(0,0,0,0.4);
            box-shadow: 2px 4px 11px 0px rgba(0,0,0,0.4);

            > p {
                color: #000000D3;
                font-size: 25px;
                margin: 20px 0;
            }

            .titulo {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #000;
                margin: 20px 0;
                font-size: 26px;
            }
            
            .row {
                width: 100%;
                margin-left: 0;
            }

            .buttonSubmit {
                width: 45px;
                height: 45px;
                float: right;
                margin-right: 10px;
                box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4)
            }

            .linhaLink {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: -10px 0 0;

                a {
                    color: #ff0000;
                    font-size: 10px;

                }
            }
        } 
    }
}