.divInputComErro {
    width: 100%;
    display: flex;
    align-items: flex-end;
    border: 1px solid #C2C9CC;

    input {
        flex: 1;
        background: transparent;
        border-bottom: 0 !important;
        padding: 0 15px !important;
    }

    div {
        position: relative;
        height: 45px;
        width: 45px;
        margin-left: -15px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            width: 170px;
            background: #c53030;
            color: #fff;
            padding: 8px;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 500;
            opacity: 0;
            transition: opacity 0.4s;
            position: absolute;
            bottom: calc(100% + 12px);
            left: 50%;
            transform: translateX(-50%) translateY(15px);
            text-align: center;
            visibility: hidden;

            &::before {
                content: '';
                position: absolute;
                border-style: solid;
                border-color: #c53030 transparent;
                border-width: 6px 6px 0 6px;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
            }
        }

        &:hover p {
            opacity: 1;
            visibility: visible;
        }
    }
}
