@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    min-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased !important;
    background-color: #fff;
}

body, input, button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

button {
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}

a:hover {
    text-decoration: underline;
}

.Button {
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 0;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s;
    box-shadow: 0px 3px 6px #FF000029;

    &:enabled:hover {
        filter: brightness(90%);
    }

    &:disabled {
        opacity: 0.5;
    }

    &.vermelho {
        background-color: #F41C32;
    }

    &.vinho {
        background-color: #8D0000;
    }
}

.divInputComErro {
    width: 100%;
    display: flex;
    align-items: flex-end;

    input {
        flex: 1;
        background: transparent;
    }

    div {
        margin-left: 20px;
        position: relative;
        height: 20px;

        p {
            width: 170px;
            background: #c53030;
            color: #fff;
            padding: 8px;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 500;
            opacity: 0;
            transition: opacity 0.4s;
            position: absolute;
            bottom: calc(100% + 12px);
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            visibility: hidden;

            &::before {
                content: '';
                position: absolute;
                border-style: solid;
                border-color: #c53030 transparent;
                border-width: 6px 6px 0 6px;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
            }
        }

        &:hover p {
            opacity: 1;
            visibility: visible;
        }
    }
}
